pkgbase = murmure
	pkgdesc = Privacy-first and free Speech-to-Text
	pkgver = 1.3.0
	pkgrel = 1
	url = https://murmure.al1x-ai.com/
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = pnpm
	makedepends = nodejs
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup
	depends = pango
	depends = webkit2gtk-4.1
	provides = murmure
	source = murmure-1.3.0.tar.gz::https://github.com/Kieirra/murmure/archive/refs/tags/1.3.0.tar.gz
	source = parakeet-tdt-0.6b-v3-int8.zip::https://github.com/Kieirra/murmure-model/releases/download/1.0.0/parakeet-tdt-0.6b-v3-int8.zip
	sha512sums = ceb23514c30508614793c5cb53116141e1884903c0c9fc1ff5ee9356f5b29eed9c3c03ad11d984a8b48ee489e926ecb532200265e2a74f9773a82f862562ecc7
	sha512sums = 888f6ae3e8f4f985852d57072b32c45466e081389884827f4d7a3467bac9691cded67eb4e760f900d7aeb8dfcdc1932d6c3d20e0b0e3064e63f1f9ac9d7e5d0d

pkgname = murmure
